<div class="container-fluid">
  <h2>Sigin Up!</h2>
  <form [formGroup] = "signupForm" (ngSubmit)="onSubmit(signupForm)" novalidate >
    <div class=form-group>
      <label>Username</label>
      <input type="text" [class.is-invalid] = "userName.invalid && userName.touched" pattern ="{{nameRegex}}"formControlName = "userName" class="form-control">
      <div *ngIf="userName.invalid && userName.touched">
        <small class="text-danger" *ngIf="userName.errors?.required">This field is required!</small>
        <p><small class="text-danger" *ngIf="userName.errors?.pattern">Username should only contain characters!</small></p>
        <p><small class="text-danger" *ngIf="userName.errors?.maxlength">Username should only be 10 characters long!</small></p>
        <p><small class="text-danger" *ngIf="userName.errors?.minlength">Username should contain atleast 2 charcters!</small></p>
        <p><small class="text-danger" *ngIf="userName.errors?.adminName">{{userName.errors?.adminName.value}} cannot be used as Username!</small></p>
      </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control">
        <small class="text-danger" *ngIf="email.invalid && email.touched">This field is required!</small> 
        <p><small class="text-danger" *ngIf="email.errors?.pattern">Enter valid Email!</small> </p>
          
    </div>
    <div class="form-check mb-3">
          <input type="checkbox"  class="form-check-input" formControlName="subscribe">
          <label class="form-check-label">Check this for more details.</label>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" [class.is-invalid] = "password.invalid && password.touched" formControlName="password" class="form-control">
      <div *ngIf="password.invalid && password.touched">
        <small class="text-danger" *ngIf="password.errors?.required">This field is required!</small>
        <small class="text-danger" *ngIf="password.errors?.maxlength">Password should only be 10 characters long!</small>
        <small class="text-danger" *ngIf="password.errors?.minlength">Password should contain atleast 6 charchters!</small>
      </div>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" [class.is-invalid] ="signupForm.errors?.misMatch || (cPassword.invalid && cPassword.touched)" formControlName ="confPassword" class="form-control">
      <small class="text-danger" *ngIf="signupForm.errors?.misMatch">Passwords do not match!</small>
      <div *ngIf="cPassword.invalid && cPassword.touched">
       <small class="text-danger" *ngIf="cPassword.errors?.required">This field is required!</small>
      </div>
    </div>

    <div formGroupName ="address">
      <div class="form-group">
        <label>City</label>
        <input type="text" formControlName = "city" [class.is-invalid]="city.invalid && city.touched" class="form-control">
        <div *ngIf="city.invalid && city.touched">
          <small class="text-danger" *ngIf="city.errors?.required">This field is required!</small>
        </div>
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" [class.is-invalid]="state.invalid && state.touched" formControlName="state" class="form-control">
        <div *ngIf="state.invalid && state.touched">
            <small class="text-danger" *ngIf="state.errors?.required">This field is required!</small>
        </div>
      </div>
      <div class="form-group">
        <label>Pin</label>
        <input formControlName="pin" [class.is-invalid]="pin.invalid && pin.touched"  type="text" class="form-control">
        <div *ngIf="pin.invalid && pin.touched">
          <small class="text-danger" *ngIf="pin.errors?.required">This field is required!</small>
          <small class="text-danger" *ngIf="pin.errors?.maxlength || pin.errors?.minlength || pin.errors?.pattern">Pin number should be 6 digits!</small>
        </div>
        </div>
      </div>
    


    <button class="btn btn-primary" [disabled] ="!signupForm.valid" type="submit">Signup</button>
    <button class="btn btn-secondary ml-3" type="button" (click) ="loadApi()">Load API</button>
    <button class="btn btn-secondary ml-2" type="button" (click)= "patchApi()" >patch API</button>
  </form>
</div>